header {
    background-color: #2c3e50;
    color: white;
    padding: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}



.logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #2ecc71;
    margin-right: 2rem;
}

.nav-links {
    display: flex;
    list-style: none;
    flex-grow: 1;
    align-items: center;
}

.nav-links li:not(:last-child):not(.right-items) {
    margin-right: 1.5rem;
}

.nav-links .right-items {
    margin-left: auto;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    padding: 0.5rem 0;
}

.nav-links a:hover {
    color: #2ecc71;
}


/* Estilos para la sección de autenticación */
.auth-section {
    display: flex;
    align-items: center;
}

.auth-list {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
}

.nav-links2 a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    padding: 0.5rem 0;
}

.login-btn {
    color: white !important;
    padding: 0.5rem 0 !important;
    transition: color 0.3s;
}

.login-btn:hover {
    color: #2ecc71 !important;
}

.user-icon {
    font-size: 1.2rem;
    transition: color 0.3s;
}

.user-icon:hover {
    color: #2ecc71;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .nav-links {
        margin-top: 1rem;
        flex-direction: column;
        width: 100%;
    }
    
    .nav-links li {
        margin: 0.5rem 0 !important;
    }

    .nav-links .right-items {
        margin-left: 0;
        flex-direction: column;
        width: 100%;
    }
}
